* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.div-row {
    margin: 0 auto;
    padding: 5%;
}
.div-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="div-col-"] {
    float: left;
}

.div-col-2 { width: 16.66%; }
.div-col-3 { width: 25%; }
.div-col-4 { width: 33.33% }
.div-col-6 { width: 50%; }
.div-col-8 { width: 66.66%; }

h1, h2, h3, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

h3 {
   font-weight: 400;
   color: #666; 
}

h4 {
    font-family: 'PT Sans', serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
}

h5 {
    font-size: 1.5em;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/** SPLASH SECTION **/
.splash-container {
    background: #000 url('bmw-wheel-bg.jpg') no-repeat;
    background-size: 100%;
    background-position: 0px -300px;
    display: block;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.overlay-container {
    background: #000;
    background: -webkit-linear-gradient(to right,#434343, #000);
    background: linear-gradient(to right, #434343, #000); 
    opacity: .9;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.splash-container h1 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 300;
    text-transform: uppercase;
}
.splash-container p {
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
}

.splash-content {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding-top: 20%;
}

.bmw-content p {
    width: 80%;
}

.car-image {
    float: right;
    text-align: center;
    position: relative;
    top: 200px;
}
.car-image img {
    width: 100%;
}
.car-image p {
    font-size: .8em;
    letter-spacing: 1.5px;
    opacity: .5;
}
.car-image span {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: 400;
}


/** PRE-ORDER SECTION **/
.preorder-container {
    background: #fff;
    height: 100vh;
    width: 100%;
}
.preorder-container img {
    width: 80%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px;
}

.preorder-content {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.how-it-works {
    text-align: center;
}
.how-it-works h2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.how-it-works h2:before, .how-it-works h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 10%;
    height: 1px;
    content: '\a0';
    background: #ccc;
}
.how-it-works h2:before {
    margin-left: -11%;
    text-align: right;
}
.how-it-works h2:after {
    margin-left: 1%;
    text-align: right;
}
.number-circle {
    border: 1px solid #aaa;
    color: #666;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.number-one {
    border: #aaa;
    background: #666;
    color: #fff;
}
.how-it-works h3, .how-it-works h4, .how-it-works p {
    padding-top: 10px;
}

.how-it-works p {
    line-height: 28px;
    width: 70%;
    margin: 0 auto;
}

.preorder-right {
    height: 613px;
}
.preorder-action-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.preorder-header, .preorder-button {
    text-align: center;
}
.preorder-button {
    margin-top: 10%;
}
.continue-button {
    color: #fff;
    background: #346DD5;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 50px;
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}
a {
    text-decoration: none
}
.preorder-action p {
    color: #666;
    font-size: .8em;
    padding-top: 20px;
}